:root {
	--background-pink: #FFF;
	--text-purple: #330a0a;
}

html,
body {
	height: 100%;
	margin: 0 auto;
	width: 100%;
}

a {
	color: var(--text-purple);
	text-decoration: none;
}

.main {
	color: var(--text-purple);
	width: 100%;
}

.window {
	background: #FFC2DE !important;
	border: 2px solid #5E5E5E;
}

.window-body h2 {
	font-size: 1.5rem;
	margin: 1rem;
	text-align: center;
	text-transform: capitalize;
}

.window-body h2::before {
	content: "";
	background-image: url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/748adc7b-5a7d-452b-b19a-27f79f90e162/defuoek-4fd90a9e-ed8d-4190-93e8-30d761f3d664.png');
	background-blend-mode: color-burn;
	background-size: cover;
	opacity: 0.5;
}

.close {
	min-width: 20px;
	margin-right: 0;
}

.minimize {
	min-width: 20px;
	margin-left: auto;
	margin-right: 4px;
}

.window,
.tablet-gallery {
	width: auto;
}

.window-body {
	height: auto;
}

.status-bar {
	border-bottom: #808080 2px solid;
	text-align: center;
}

.title-bar {
	border: 2px solid black;
	background: linear-gradient(90deg, #F81266, #FB74A6) !important;
}

.status-bar .status-bar-field,
.social-media-bar .social-media {
	padding: 3%;
}

.status-bar-field,
.social-media-bar {
	font-size: 1.2rem;
}

.social-media-bar {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 95%;
}

.about-window {
	margin: 5vh 0 0 0;
}

#gallery-title,
#title-name,
#about-name,
#social-media-name,
#character-name {
	color: #000;
	font-size: 1rem;
	margin-left: 5px;
}

.character-image img,
.myPicture img,
.mySlides img {
	border: 2px solid black;
}

.inner.window-body,
.aboutme.window-body {
	border: 2px gray solid;
	height: 50%;
	margin: 0;
	position: relative;
}

.aboutme.window-body {
	font-size: 1.2rem;
	overflow: scroll;
}

.aboutme.window-body p {
	margin: 10px;
}

.mySlides,
.myPicture {
	position: relative;
	display: none;
	padding: 0 3vw;
}

.mySlides img {
	margin: 10% 0 20% 0;
	max-height: 250px;
	height: auto;
	width: 250px;
	max-width: 250px;
	object-fit: fill
}

.numbertext,
.tablettext {
	position: absolute;
	bottom: 0;
	left: 2%;
	color: #000;
	font-size: 2rem;
}

.buttons {
	bottom: 0;
	font-size: 1rem;
	right: 0;
	position: absolute;
}

.prev,
.next {
	font-size: 1.5rem;
}

.tablet.window {
	display: none;
}

@media (min-width: 768px) {
	body {
		background-color: #df99f0;
		background-image: url('https://cdn.discordapp.com/attachments/377292775726776320/1080997110507380856/a4170c452047f554ea788d770649598de94de331r1-480-480_hq.gif');
		background-size: 15%;
	}

	.container {
		position: relative;
		height: 100vh;
	}

	.mobile.window {
		display: none;
	}

	.tablet.window {
		display: block;
		position: absolute;
		box-shadow: rgba(0, 0, 0, 0.09) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
		width: 40%;
	}

	.window-body {
		margin: 0 auto !important;
	}

	.window-body h2 {
		font-size: 1.7rem;
	}

	.tablet.gallery.window {
		position: absolute;
		top: 2vh;
		left: 2vw;
		height: 525px;
		max-height: 600px;
		width: 600px;
	}

	.inner.window-body {
		height: 44vh;
		max-height: 44vh;
	}

	.window-body {
		height: 55vh;
	}

	.gallery-container {
		margin: 5px;
	}

	.tablettext {
		top: 95%;
		bottom: 0;
	}

	.picture-window {
		max-height: 300px;
		height: 300px;
	}

	.myPicture img {
		height: auto;
		max-height: 300px;
		margin: 5% 0 5% 0;
		width: auto;
		max-width: 90%;
	}

	.prev,
	.next {
		font-size: 1.75rem;
	}

	.tablet.character.window {
		position: absolute;
		bottom: 5vh;
		left: 2vw;
		height: 30vh;
		width: 30%;
	}

	.character-image {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.character-image img {
		margin: 1vh;
		height: 150px;
		width: 150px;
	}

	.tablet.about.window {
		position: absolute;
		bottom: 5vh;
		font-size: 1rem;
		right: 1vw;
		max-height: 30vh;
		width: 60vw;
		overflow: scroll;
	}

	.aboutme.window-body {
		font-weight: bold;
		line-height: 1.5rem;
		height: 25%;
	}

	.tablet.social-media.window {
		height: 20vh;
		position: absolute;
		top: 2vh;
		right: 2vh;
		width: 15%;
	}

	.social-media-bar {
		flex-direction: column;
		height: 75%;
	}

	.social-media-bar a {
		margin: 10px 0;
	}
}

@media (min-width: 1024px) {

	#gallery-title,
	#title-name,
	#about-name,
	#social-media-name,
	#character-name {
		font-size: 1.5rem;
		line-height: 2.25rem;
		margin-left: 10px;
	}

	.window h2 {
		font-size: 1.75rem;
	}

	.window-body {
		height: auto;
	}

	.gallery-window {
		max-width: 65vw;
	}

	.tablet.gallery.window {
		height: 625px;
		width: 625px;
		max-width: 625px;
		max-height: 625px;
	}

	.inner.window-body {
		height: 450px;
		max-height: 450px;
	}

	.picture-window {
		max-height: 300px;
		height: 300px;
	}

	.myPicture img {
		height: 375px;
		max-height: 375px;
		width: auto;
		max-width: 500px;
	}

	.tablet.character.window {
		top: 2vh;
		left: 65%;
		right: 5px;
		height: 40vh;
		max-width: 350px;
	}

	.tablet.character.window img {
		height: auto;
		max-height: 30vh;
		width: auto;
		max-width: 90%;
	}

	.tablet.about.window {
		bottom: 2vh;
		max-height: 50vh;
		width: 28vw;
		max-width: 425px;
	}

	.tablet.social-media.window {
		top: 84%;
		left: 2vw;
		height: 13vh;
		width: 65vw;
		max-width: 65vw;
	}

	.social-media-bar {
		flex-direction: row;
		font-size: 2rem;
	}

	.social-media-bar a {
		padding: 0 15px;
	}
}

@media (min-width: 1440px) {

	.tablet.gallery.window {
		height: auto;
		width: 100%;
		max-width: 60%;
		max-height: 80%;
	}

	.inner.window-body {
		height: 500px;
		max-height: 500px;
	}
}